.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  padding: 10px;
  column-gap: 20px;
  justify-content: center;
  font-style: italic;
  color: white;
  margin: 0;
}

.App-body {
  background-color: #282c34;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 88vh;
}

.fdh-map {
  width: 100vw;
  height: 85vh;
}
